<a class="button button-back" href="/#products">&#171; Volver</a>

<article>
	<div ng-if="products.length > 0" class="cart-preview">

		<table class="cart-products table table-striped table-bordered">
			<tr>
				<th>Nombre del Producto</th>
				<th>Cantidad</th>
				<th>Precio Unidad</th>
				<th>Precio Total</th>
				<th></th>
			</tr>
			<tr ng-repeat="product in products">
				<td><a class="product-link" href="#/products/{{product.codename}}">{{product.name}} - {{product.type}}</a></td>
				<td>
					<input class="quantity" id="quantity-{{product.id}}" data-pid="{{product.id}}" min="1" max="99" type="number" ng-model="product.quantity" ng-blur="updateQuantityPrices(this)"  />
				</td>
				<td ng-bind="product.price_unit">${{product.price_unit}}</td>
				<td ng-model="product.price_quantity">${{product.price_quantity}}</td>
				<td>R</td>
			</tr>
		</table>

		<div class="cart-additionals">
			<hr>

			<div class="address"></div>

			<table>
				<tr>
					<td>SUBTOTAL</td>
					<td>${{subtotal}}</td>
			</table>
			<hr>

			<h3 class="page-header">Dirección de Envíos</h3>


			<div class="form-group row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12">
							<input type="text" googleplace id="address-google" ng-model="address.google" ng-change="mapAdress()" class="form-control" placeholder="Dirección" />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-8">
							<input type="text" name="address-street" id="address-street" ng-model="address.street" class="form-control" placeholder="Calle" />
						</div>
						<div class="col-sm-4">
							<input type="text" name="address-number" id="address-number" ng-model="address.number" class="form-control" placeholder="Altura" />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<input type="text" name="address-apt" id="address-apt" ng-model="address.apt" class="form-control" placeholder="Dpto." />
						</div>
						<div class="col-sm-8">
							<select class="form-control">
								<option>Capital Federal</option>
							</select>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<input type="text" name="neighborhood" id="adress-neighborhood" ng-model="address.neighborhood" class="form-control" placeholder="Barrio" disabled />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12">
							<button class="btn btn-block btn-success">Confirmar Dirección</button>
						</div>
					</div>

					
				</div>
				
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-12">
							<google-map center="map.center" zoom="map.zoom" pan="true" draggable="true" control="map.control">
								<marker idKey="map.marker.idKey" coords="map.marker.coords"></marker>
							</google-map>
						</div>
					</div>
				</div>
				
			</div>
			<!--div class="form-group row map-wrapper" style="display:none;">
				<div class="col-sm-8">
					<google-map center="map.center" zoom="map.zoom" pan="true" draggable="true" control="map.control">
						<marker idKey="map.marker.idKey" coords="map.marker.coords"></marker>
					</google-map>
				</div>
				<div class="col-sm-4">
					
				</div>
			</div-->
			<hr>
			<div class="form-group row">
				<div class="col-sm-12">
					<table >
						<tr>
							<td>Descuentos</td>
							<td>$0.00</td>
						</tr>
						<tr>
							<td>Envío</td>
							<td>$0.00</td>
						</tr>
					</table>

					<h4>TOTAL <span>${{total}}</span></h4>
				</div>
			</div>
			<hr>
		</div>
		<a href="#/checkout" class="btn btn-block btn-warning disabled">Confirmar Orden</a>
	</div>

	<h3 ng-if="products.length <= 0">EL CARRITO ESTÁ VACÍO</h3>

	<div class="clear"></div>
</article>