<a class="button-back" href="/#products">&#171; Volver</a>

<article>
	<div class="cart-preview">
		<table class="cart-products">
			<th>
				<td>ID</td>
				<td>Producto</td>
				<td>Cantidad</td>
				<td>Precio Unidad</td>
				<td>Precio Total</td>
			</th>
			<tr>
				<td>1</td>
				<td>Box Magic</td>
				<td>2</td>
				<td>$59.99</td>
				<td>$119.98</td>
			</tr>
		</table>
		<hr>
		<h3>SUBTOTAL <span>$119.98</span></h3>
		<h3>TOTAL <span>$119.98</span></h3>
	</div>
	<div class="clear"></div>
</article>