<a class="button button-back" href="/#cart">&#171; Volver</a>

<article>
	<div ng-if="products.length > 0" class="cart-preview">
		<table class="cart-products">
			<tr>
				<th>Nombre del Producto</th>
				<th>Cantidad</th>
				<th>Precio Unidad</th>
				<th>Precio Total</th>
			</tr>
			<tr ng-repeat="product in products">
				<td><a class="product-link" target="_blank" href="#/products/{{product.codename}}">{{product.name}} - {{product.type}}</a></td>
				<td ng-model="product.quantity">${{product.price_quantity}}</td>
				<td ng-bind="product.price_unit">${{product.price_unit}}</td>
				<td ng-model="product.price_quantity">${{product.price_quantity}}</td>
			</tr>
		</table>
		<div class="cart-additionals">
			<hr>

			<div class="address"></div>

			<table>
				<tr>
					<td>SUBTOTAL</td>
					<td>${{subtotal}}</td>
				</tr>
				<tr>
					<td>Descuentos</td>
					<td>$0.00</td>
				</tr>
				<tr>
					<td>Envío</td>
					<td>$0.00</td>
				</tr>
			</table>
			<hr>
			<h3>TOTAL <span>${{total}}</span></h3>
		</div>

		<a href="#/checkout" ng-click="pay()" class="btn btn-block btn-warning">Pagar</a>
	</div>

	<h3 ng-if="products.length <= 0">EL CARRITO ESTÁ VACÍO</h3>

	<div class="clear"></div>
</article>