
<section id="product-container" class="product-detail">
<a class="button-back" href="/#products">&#171; Volver</a>
	<article>
		<a>
			<h3><span class="product-name">{{product.name}}</span><span class="product-type">{{product.type}}</span></h3>
			<div class="block image" style="background-image:url('{{product.imageUrl}}');" ></div>
		</a>
		<div class="block price">
			<p class="price-title">Precio Unidad</p>
			<table>
				<tbody>
					<tr><td>  1+</td><td>${{product.price.1}}</td></tr>
					<tr><td> 16+</td><td>${{product.price.16}}</td></tr>                    
					<tr><td> 36&nbsp;&nbsp;</td><td>${{product.price.36}}</td></tr>                    
				</tbody>
			</table>
			<span><input id="quant1" class="quantity" value="1" type="number" /><a data-id="1" class="add">Agregar</a></span>
		</div>
		<div class="block description">
			<p>{{product.summary}}</p>
			<p>{{product.description}}</p>
			<p class="stock now">Entrega inmediata: Stock 36 unidades</p>
		</div>
		<div class="clear"></div>
	</article>
</section>

<aside>
	
	<h3>Formas de Pago</h3>

	<p><span class="mercadopago"></span></p>
	<div class="paidmethods">
		<img src="img/icons/visa.png" alt="VISA" />
		<img src="img/icons/mastercard.png" alt="mastercard" />
		<img src="img/icons/amex.png" alt="amex" />
		<img src="img/icons/naranja.png" alt="naranja" />
		<img src="img/icons/argencard.png" alt="argencard" />
		<img src="img/icons/pagofacil.png" alt="pagofacil" />
		<img src="img/icons/rapipago.png" alt="rapipago" />
		<img src="img/icons/provincia.png" alt="provincia" />
		<img src="img/icons/banelco.jpg" alt="banelco" />
		<img src="img/icons/redlink.png" alt="redlink" />
		<img src="img/icons/cabal.jpg" alt="cabal" />
	</div>
	<p><span class="paypal"></span></p>

	<h3>Zonas de Envío</h3>


</aside>
<div class="clear"></div>