<a class="button-back" href="/#products">&#171; Volver</a>
<article>
	<a class="product-link">
		<h3><span class="product-name">{{product.name}}</span><span class="product-type">{{product.type}}</span></h3>
		<div class="block image" style="background-image:url('{{product.imageUrl}}');" ></div>
	</a>
	<div class="block price">
		<p class="price-title" >Precio Unidad</p>
		<table>
			<tbody ng-repeat="price in product.prices">
				<tr><td>  {{price.quantity}}+</td><td>${{price.value}}</td></tr>
			</tbody>
		</table>
		<span ng-controller="CartController">
			<input class="quantity" id="quantity-{{product.id}}" value="1" min="1" max="99" type="number" />
			<a data-pid="{{product.id}}" class="add" ng-click="addProductToCart($event)">Agregar</a>
		</span>
	</div>
	<div class="block description">
		<p>{{product.summary}}</p>
		<p>{{product.description}}</p>
		<p class="stock now">Entrega inmediata: Stock {{product.stock}} unidades</p>
	</div>
	<div class="clear"></div>
</article>

